<article>
<h2><%= @article.title%></h2>
<p class="tags">Tags:&nbsp 
    <% @article.tags.each do |tag|%>
        <%=link_to tag.name, tag_path(tag)%>,&nbsp
    <%end%>
</p>
<p>
    <% if @article.image.exists?%>
        <%= image_tag @article.image.url%>
    <% end%>
</p>
<p><%= @article.body%></p>
<%= link_to "Back to articles list", articles_path%>
<%= link_to "Edit", edit_article_path(@article), :class => "button"%>
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, :class => "button delete"%>
</article>
<hr>
<%= render partial: 'comments/form'%>
<hr>
<h3>Comments (<%=@article.comments.size%>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments%>