<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext"%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="flash"><%=flash.notice%></p>
    <header>
      <h1>Articles Blog</h1>
    </header>
    <nav>
      <ul>
        <li><%= link_to 'All articles', articles_path%></li>
        <li><%= link_to 'Search by tags', tags_path%></li>
        <li><%= link_to 'Create a new article', new_article_path%></li>
      </ul>
    </nav>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p>Norbert Bujny 2019</p>
    </footer>
  </body>
</html>
